.grid {
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    div {
        background-color: orange;
        opacity: 0.4;
        margin: 2px;
        aspect-ratio: 1;
        border-radius: 7%;
        transition: opacity 330ms, border-radius 330ms, background-color 330ms;
    }

    .active {
        opacity: 1;
        border-radius: 15%;
    }

    .playing {
        background-color: yellow;
    }
}