.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgb(78, 19, 19);

    > button {
        border-radius: 5px;
        background-color: brown;
        align-self: center;
        width: 10%;
        min-width: 100px;
        color: white;
        font-weight: bold;
        padding: 5px;
        border: none;
    }

    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
